# requirements.txt

# Core app dependencies
streamlit
spacy
scikit-learn
pandas
numpy
PyPDF2
python-docx
matplotlib
reportlab
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
